<ion-header>
  <ion-toolbar>
    <ion-title>Faire un don</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Coins</ion-label>
    <ion-badge color="danger" slot="end">{{coins}}</ion-badge>
  </ion-item>
  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="heart-circle-outline"></ion-icon>
        Faire un don 
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="heart-circle-outline"></ion-icon>
        Faire un don 
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="heart-circle-outline"></ion-icon>
        Faire un don 
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="heart-circle-outline"></ion-icon>
        Faire un don 
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>
