.inpt{
    margin-top:50px;
}
.txtarea{
    margin-top: 30px;
}
.txt{

    font-family: 'Poppins',sans-serif;
    font-size: x-large;
    margin-top: 25px;
    text-align: center;


}

ion-button{
    margin-top: 15px;
}

.alert{
    --background:green;
}