<ion-header>
  <ion-toolbar>
    <ion-title>Les projets ajoutée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="checkmark-circle-outline"></ion-icon>
        vérifier
      </ion-item-option>
      <ion-item-option color="secondary" [routerLink]="['/editing']">
        <ion-icon slot="bottom" name="create-outline"></ion-icon>
        Modifier
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="checkmark-circle-outline"></ion-icon>
        vérifier
      </ion-item-option>
      <ion-item-option color="secondary" [routerLink]="['/editing']">
        <ion-icon slot="bottom" name="create-outline"></ion-icon>
        Modifier
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="checkmark-circle-outline"></ion-icon>
        vérifier
      </ion-item-option>
      <ion-item-option color="secondary" [routerLink]="['/editing']">
        <ion-icon slot="bottom" name="create-outline"></ion-icon>
        Modifier
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="checkmark-circle-outline"></ion-icon>
        vérifier
      </ion-item-option>
      <ion-item-option color="secondary" [routerLink]="['/editing']">
        <ion-icon slot="bottom" name="create-outline"></ion-icon>
        Modifier
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>{{this.name}}</ion-card-subtitle>
              <ion-card-title>{{titleOfProject}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{descriptionProject}}
            </ion-card-content>
          </ion-card>
    </ion-item>
    <ion-item-options>
      <ion-item-option color="success" (click)="presentAlert()">
        <ion-icon slot="bottom" name="checkmark-circle-outline"></ion-icon>
        vérifier
      </ion-item-option>
      <ion-item-option color="secondary" [routerLink]="['/editing']">
        <ion-icon slot="bottom" name="create-outline"></ion-icon>
        Modifier
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>



</ion-content>
