<ion-header>

</ion-header>

<ion-content>
  <ion-item class="txt">
    <ion-label>Créer une annonce :</ion-label>
  </ion-item>
  <ion-item class="inpt">
    <ion-label position="floating">Le titre de votre projet :</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item class="txtarea">
    <ion-label position="stacked">La description de votre projet :</ion-label>
    <ion-textarea placeholder="Entrer la description de votre projet..."></ion-textarea>
  </ion-item>

  <ion-button expand="block" color="success" (click)="presentAlert()">Annoncer </ion-button>

</ion-content>
